$modaal-overlay-color: rgba(0,0,0, 0.8);

$modaal-radius: 0px;
$modaal-main-bg: #fff;
$modaal-main-text: #000;
$modaal-max-width: 970px;
$modaal-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
$modaal-padding: 30px;
$modaal-hover-color: rgba(0,0,0, 0.7);
$modaal-close-hover-color: #b93d0c;

$modaal-light: #fff;
$modaal-primary: #555;
$modaal-grey: #afb7bc;